.a{
    display: flex;
    gap: 10em;
}
body{
    background-color: rgba(230, 230, 230, 0.979);
}
.b{
    display: flex;
    gap: 2em;
    font-weight: bold;
    padding-left: 14%;
}
.second{
    background-image: url(/image/bec.png);
}
.c{
    display: flex;
    gap: 2em;
    padding-left: 15%;
}
.ma{
    color: red;
}
.me{
    color: red;
}
.d{
    padding-left: 35%;
    font-size: 400%;
    font-weight: bold;
}
.sum{
    padding-left: 35%;
    font-size: large;
}
.add{
    display: flex;
}
.lay{
    height: 300px;
    width: 100%;
    padding-left: 70%;
    padding-top: 20%;
}
.bat{
    margin-left: 14%;
    padding: 16px 18px;
    border-radius: 1em;
    background-color: rgb(238, 71, 10);
    color: white;
    font-weight: bold;
}
.chair{
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}
.door{
    height: 60%;
    transform: rotate(-30deg);
}
.rain{
    display: flex;
    
}
.may{
    height: 60%;
    transform: rotate(-30deg);
}
.june{
    height: 60%;
    transform: rotate(-30deg);
}
.boat{
    display: flex;
}
.ferry{
    display: flex;
}
.ship{
    display: flex;
}
.chat{
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}
.run{
    padding-left: 8.5%;
    display: flex;
    gap: 1em;
    font-size: 200%;
    font-weight: bold;
}
.man{
    color: red;
}
.jan{
    width: 70%;
    transform: rotate(20deg)
}
.feb{
    width: 70%;
    transform: rotate(20deg)
}

.mar{
    width: 70%;
    transform: rotate(20deg)
}
.apri{
    width: 70%;
    transform: rotate(20deg)
}
.human{
    display: flex;
    gap: 2em;
    padding-left: 6%;
}
.red{
    width: 70%;
    transform: rotate(-20deg);
}
.green{
    width: 70%;
    transform: rotate(-20deg);
}
.blue{
    width: 70%;
    transform: rotate(-20deg);
}
.black{
    width: 70%;
    transform: rotate(-20deg);
}
.house{
    display: flex;
    gap: 2em;
    padding-left: 6%;
}
.lap{
    margin-left: 50%;
    padding: 18px 25px;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    border-radius: 1em;
}
.char{
    text-align: center;
    font-size: 300%;
    font-weight: bold;
}
.book{
    display: flex;
}
.paper{
    width: 80%;
}
.cover{
    width: 70%;
    padding-left: 10%;
}
.water{
    display: flex;
}
.ocean{
    display: flex;
    gap: 2em;
    padding-left: 6%;
}
.mat{
    display: flex;
    gap: 20em;
}
.beach{
    padding-left: 90%;
    padding: 50px 60px;
    background-color: antiquewhite;
    border-radius: 1em;
}
.bus{
    padding-left: 2%;
}
.valley{
    display: flex;
    padding-left: 9%;
    gap: 4em;
    background-color: rgb(241, 87, 87);
    color: white;

}
li{
    list-style: none;
    line-height: 40px;
}

.mara{
    color: black;
    font-weight: bold;
    font-size: 200%;
}
.but{
    padding: 9px 18px;
    background-color: rgb(233, 92, 92);
    font-weight: bold;
    color: white;
}
.bool{
    color: black;
    font-weight: bold;
    font-size: 200%;
}
.boot{
    padding: 9px 18px;
    background-color: rgb(233, 92, 92);
    font-weight: bold;
    color: white;
}
.earth{
    color: black;
    font-weight: bold;
    font-size: 200%;
}
.venus{
    padding: 9px 18px;
    background-color: rgb(233, 92, 92);
    font-weight: bold;
    color: white;
}
.low{
    color: red;
    font-weight: bold;
    font-size: 150%;
}
.up{
    font-weight: bold;
    font-size: 220%;
}
.win{
    padding: 90px 100px;
    background-color: pink;
    color: black;
    border-radius: 1em;
}
.won{
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}
.loss{
    text-align: center;
}
.buy{
    padding: 12px 13px;
    border-radius: 1em;
}
.bol{
    padding: 12px 13px;
    border-radius: 1em;
    background-color: rgb(173, 54, 54);
    color: white;
}
.i{
    font-size: 150%;
    color: red;
    font-weight: bold;
}
.j{
    color: red;
}
.k{
    font-size: 150%;
    color: red;
    font-weight: bold;
}
.mul{
    color: red;
}
.much{
    padding-right: 10%;
}
.more{
    text-align: center;
    font-size: small;
}
.much{
    text-align: center;
    font-size: small;
}
.ball{
    
    background-color: rgb(235, 128, 128);
    color: white;
    font-size: small;
    border-radius: 1em;
    font-size: small;
}
.bail{
    display: flex;
    gap: 1em;
}
.burn{
    display: flex;
    gap: 1em;
}
.where{
    
    border-radius: 1em;
    color: red;
    border: 2px solid red;
    font-size: small;
}
.how{
    
    background-color: rgb(235, 128, 128);
    color: white;
    font-size: small;
    border-radius: 1em;
    font-size: small;
}
.why{
    
    border-radius: 1em;
    color: red;
    border: 2px solid red;
    font-size: small;
}
.first{
    
    padding: 16px 13px;
    border-radius: 2em;
    background-color: rgb(216, 15, 15);
    color: white;
}
.fifth{
    padding-top: 2%;
}
.phone{
    font-weight: bold;
}
.play{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.stop{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.continue{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.resume{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.maroon{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.grey{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.pink{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.pich{
    padding: 22px 12px;
    background-color: white;
    border-radius: 1em;
}
.file{
    font-weight: bold;
    font-size: 130%;
}
.edit{
    font-weight: bold;
    font-size: 130%;
}
.go{
    background-color: black;
    color: white;
    border-radius: 1em;
}
.help{
    display: flex;
    gap: 1em;
    padding-left: 13%;
}
.view{
    width: 40%;
    padding-left: 10%;
}